.text-center2 {
  font-weight:600;
  text-align: left;
  position: flex;
  color: black;
  margin: 4px;
}

body {

}

td,
th {
  text-align: left;
  padding: 8px;
  max-width: 25vw;
  height: 50px;
  width: fit-content;
  border-collapse: separate;
}

.boton-22 {
  align-items: center;
  background-color: #4096f8;
  border-radius: 6px;
  border-style: none;
  color: #fff;
  line-height: 1.15;
  margin: 0;
  padding: 8px 12px;
  text-align: center;

}

a:link,
a:visited,
a:active {
  text-decoration: none;
}