.text-center2 {
    text-align: center;
    position: flex;
    color: black;
  }
  body {

  }
  td, th {
    text-align: left;
    padding: 8px;
    max-width: 15vw;
    height: 50px;
    width: fit-content;

  }